# Tkinter is included with Python's standard library on macOS. No need to specify it here.
# If you encounter issues, ensure your Python installation includes Tkinter.

pytest
pre-commit==3.6.2
black==24.2.0
setuptools>=75.1.0
